body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e5e7e77b;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #ffffff;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(161, 166, 169, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    border: 2px solid #00ced1;
}

h1,
h2,
h3 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

button[type="submit"] {
    background-color: #4f82a9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
}

button[type="submit"]:hover {
    background-color: #3257d7;
}

.hidden {
    display: none;
}

#result {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}